<table border="1" th:fragment="foodTable">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    <tr th:each="food : ${foods}">
        <td><img th:src="${food.image}" width="80"></td>
        <td th:text="${food.foodName}"></td>
        <td>
            <div th:if="${food.discountPrice != null && food.discountPrice > 0}">
                <span th:text="${#numbers.formatDecimal(food.price - food.discountPrice, 0, 'COMMA', 0, 'POINT')} + ' ₫'" style="font-weight: bold; color: #00B14F;"></span>
                <span th:text="${#numbers.formatDecimal(food.price, 0, 'COMMA', 0, 'POINT')} + ' ₫'" style="text-decoration: line-through; font-size: 12px; color: #999; margin-left: 5px;"></span>
            </div>
            <div th:if="${food.discountPrice == null || food.discountPrice <= 0}">
                <span th:text="${#numbers.formatDecimal(food.price, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
            </div>
        </td>
        <td th:text="${food.status}"></td>

        <td>
            <button th:if="${food.status.name() == 'AVAILABLE'}">
                Add to Cart
            </button>

            <button th:if="${food.status.name() == 'SOLD_OUT'}" disabled>
                Sold out
            </button>
        </td>
    </tr>
</table>
